{% extends 'baseapp/base.html' %}
{% block content %}

<script type="application/javascript">
    jQuery(document).ready(function ($) {
        $('li').removeClass("active");
        $(home).addClass("active");
    });
</script>

<div class="container">
    {% for food in foods %}
    {{ food.food_name }}
    {{ food.food_price }} <br>
    <img src="{{food.food_image.url}}" alt=" {{ food.food_name }}" style="height: 100px; width: 100px;">
    {{food.food_category}}
    <a href=""><button id="buy_food{{food.id}}" class="btn btn-success">Order Now</button><br><br></a>
    {% endfor %}
</div>

{% endblock %}